# ignore reference files dir
reference_files

# ignore simulation study outputs dir
simulations

# general ignored
.DS_Store
__pycache__
.ipynb_checkpoints
.venv/

# generated editor schema (written by `embed-context check`)
.embed-context/
